*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
django/.idea/.name
django/.idea/django.iml
django/.idea/encodings.xml
django/.idea/misc.xml
django/.idea/modules.xml
django/.idea/scopes/scope_settings.xml
django/.idea/vcs.xml
django/.idea/workspace.xml
django/env/.Python
django/env/include/python2.7
django/env/share/doc/pycurl/COPYING
django/env/share/doc/pycurl/COPYING2
django/env/share/doc/pycurl/ChangeLog
django/env/share/doc/pycurl/INSTALL
django/env/share/doc/pycurl/README.rst
django/env/share/doc/pycurl/TODO
django/env/share/doc/pycurl/examples/basicfirst.py
django/env/share/doc/pycurl/examples/file_upload.py
django/env/share/doc/pycurl/examples/linksys.py
django/env/share/doc/pycurl/examples/retriever-multi.py
django/env/share/doc/pycurl/examples/retriever.py
django/env/share/doc/pycurl/examples/sfquery.py
django/env/share/doc/pycurl/examples/xmlrpc_curl.py
django/env/share/doc/pycurl/html/callbacks.html
django/env/share/doc/pycurl/html/curlmultiobject.html
django/env/share/doc/pycurl/html/curlobject.html
django/env/share/doc/pycurl/html/curlshareobject.html
django/env/share/doc/pycurl/html/pycurl.html
django/env/share/doc/pycurl/tests/__init__.py
django/env/share/doc/pycurl/tests/app.py
django/env/share/doc/pycurl/tests/appmanager.py
django/env/share/doc/pycurl/tests/certinfo_test.py
django/env/share/doc/pycurl/tests/curlopt_test.py
django/env/share/doc/pycurl/tests/debug_test.py
django/env/share/doc/pycurl/tests/default_write_function_test.py
django/env/share/doc/pycurl/tests/ftp_test.py
django/env/share/doc/pycurl/tests/getinfo_test.py
django/env/share/doc/pycurl/tests/global_init_test.py
django/env/share/doc/pycurl/tests/header_function_test.py
django/env/share/doc/pycurl/tests/internals_test.py
django/env/share/doc/pycurl/tests/matrix.py
django/env/share/doc/pycurl/tests/memleak_test.py
django/env/share/doc/pycurl/tests/multi_socket_select_test.py
django/env/share/doc/pycurl/tests/multi_socket_test.py
django/env/share/doc/pycurl/tests/multi_test.py
django/env/share/doc/pycurl/tests/multi_timer_test.py
django/env/share/doc/pycurl/tests/pause_test.py
django/env/share/doc/pycurl/tests/post_test.py
django/env/share/doc/pycurl/tests/post_with_read_callback_test.py
django/env/share/doc/pycurl/tests/procmgr.py
django/env/share/doc/pycurl/tests/relative_url_test.py
django/env/share/doc/pycurl/tests/reset_test.py
django/env/share/doc/pycurl/tests/resolve_test.py
django/env/share/doc/pycurl/tests/runwsgi.py
django/env/share/doc/pycurl/tests/seek_function_test.py
django/env/share/doc/pycurl/tests/setopt_lifecycle_test.py
django/env/share/doc/pycurl/tests/share_test.py
django/env/share/doc/pycurl/tests/socket_open_test.py
django/env/share/doc/pycurl/tests/unset_range_test.py
django/env/share/doc/pycurl/tests/util.py
django/env/share/doc/pycurl/tests/version_comparison_test.py
django/env/share/doc/pycurl/tests/write_abort_test.py
django/env/share/doc/pycurl/tests/write_cb_bogus_test.py
django/env/share/doc/pycurl/tests/write_to_file_test.py
django/env/share/doc/pycurl/tests/write_to_stringio_test.py
